<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit - OPF</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="background"></div>
    <div id="container">
        <h1 id="head">Online Payments Fraud Detection</h1>
        <h1>{{ prediction_text }}</h1>
    </div>
    <div id="buttons">
        <a href="home.html"><button type="button">HOME</button></a>
    </div>
</body>
</html>
